
body {
    background-color: burlywood;
}



h1, h2, h3, h4, h5 {
    color: rgb(61, 24, 7);
    margin-left: 275px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}


.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


li {
    font-size: 30px;
    margin: 0px 0px 50px 300px;
}


a {
    color: olive;
}


a:visited {
    color: blanchedalmond;
}
