
body {
    background-color: burlywood;
}



h1, h2, h3, h4, h5 {
    color: rgb(61, 24, 7);
    margin-left: 500px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 70px;
}


.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


li {
    font-size: 60px;
    margin: 0px 0px 100px 550px;
}


a {
    color: olive;
}


a:visited {
    color: blanchedalmond;
}
